In [7]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [9]:
fp_df = pd.read_csv('Faceplate.csv',index_col=0)
fp_df = fp_df.astype(bool)
fp_df

               Red  White   Blue  Orange  Green  Yellow
Transaction
1             True   True  False   False   True   False
2            False   True  False    True  False   False
3            False   True   True   False  False   False
4             True   True  False    True  False   False
5             True  False   True   False  False   False
6            False   True   True   False  False   False
7             True  False   True   False  False   False
8             True   True   True   False   True   False
9             True   True   True   False  False   False
10           False  False  False   False  False    True

In [25]:
itemsets = apriori(fp_df,min_support=0.2,use_colnames=True)
rules = association_rules(itemsets,metric='lift',min_threshold=1,num_itemsets=len(fp_df),return_metrics=['support','confidence','lift'])
rules.sort_values('confidence',ascending=False)

       antecedents     consequents  support  confidence      lift
2          (Green)           (Red)      0.2    1.000000  1.666667
5         (Orange)         (White)      0.2    1.000000  1.428571
7          (Green)         (White)      0.2    1.000000  1.428571
8   (White, Green)           (Red)      0.2    1.000000  1.666667
10    (Green, Red)         (White)      0.2    1.000000  1.428571
12         (Green)    (White, Red)      0.2    1.000000  2.500000
0            (Red)          (Blue)      0.4    0.666667  1.111111
1           (Blue)           (Red)      0.4    0.666667  1.111111
9     (White, Red)         (Green)      0.2    0.500000  2.500000
3            (Red)         (Green)      0.2    0.333333  1.666667
13           (Red)  (White, Green)      0.2    0.333333  1.666667
4          (White)        (Orange)      0.2    0.285714  1.428571
6          (White)         (Green)      0.2    0.285714  1.428571
11         (White)    (Green, Red)      0.2    0.285714  1.428571