In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import IsolationForest

In [2]:
customer = pd.read_csv('rfm_data_customer.csv',index_col=0)

In [3]:
customer.drop('most_recent_visit',axis=1,inplace=True)

In [4]:
customer.head()

             revenue  number_of_orders  recency_days
customer_id
22086            777                 9           232
2290            1555                16           115
26377            336                 5            43
24650           1189                12            64
12883           1229                12            23

In [5]:
iso = IsolationForest(random_state=24,n_estimators=25,contamination=0.05)

In [7]:
labels = iso.fit_predict(customer)

In [8]:
np.unique(labels,return_counts=True)

(array([-1,  1]), array([ 2000, 37999], dtype=int64))

#### here 2000 persons are outliers